body {
    font-family: 'Montserrat', sans-serif;
}
.table{
    display: flex;
}
.a_links{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.a_links>.links{
    flex:1;
    /* padding-left: 1.5%; */
    /* padding-right: 1.5%; */
    display: inline;
}
a{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
}

.itr-header,.team-1,.team-2,.win,.row-1,.row-2,.row-3, .row-4,.row-5{
    display:flex;
}

.row {
    text-align: center;
    line-height: 40px;
    height: 40px;
}

.firstColumn {
    min-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

}

.col{
    flex: 1;
}

.col-pad-0{
    padding-right: 1.7%;
}
.col-pad-1, .col-pad-2{
    padding-right: 1.75%;
}
.col-pad-3{
    padding-right: 1.67%;
}
.game{
    border: 0.25px solid #ccc;
}
.itr{
    color:black;
    border:0.25px solid #ccc;
}
.t1{
    background-color: yellowgreen;
    color:black;
    border: 0.25px solid #ccc;

}
.t2{
    background-color: turquoise;
    color:black;
    border: 0.25px solid #ccc;

}
.dr{
    background-color: blueviolet;
    color:white;
    border:0.25px solid #ccc;
}